.idea/modules.xml
.idea/misc.xml
.idea/libraries/algs4.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Algorithms__Part_I.xml
.idea/findbugs-idea.xml
.idea/fileTemplates/internal/package-info.java
.idea/fileTemplates/internal/module-info.java
.idea/fileTemplates/internal/Interface.java
.idea/fileTemplates/internal/Enum.java
.idea/fileTemplates/internal/Class.java
.idea/fileTemplates/internal/AnnotationType.java
.idea/fileTemplates/includes/File Header.java
.idea/file.template.settings.xml
.idea/externalDependencies.xml
.idea/encodings.xml
.idea/compiler.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/codeInsightSettings.xml
.idea/checkstyle-idea.xml
.idea/.name
.lift/spotbugs.xml
.lift/checkstyle-suppressions.xml
.lift/checkstyle-lift.jar
.lift/checkstyle-coursera.xml
.lift/algs4.jar
.idea/workspace.xml
.idea/saveactions_settings.xml
